
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow-x: hidden;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-wrap: wrap;           /* CLAVE */
  align-items: center;
  padding: 15px 40px;
  z-index: 10;
}

/* LOGO */
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  flex: 1 1 200px;
}


/* NAV */
nav {
  flex: 2 1 400px;
}

/* LISTA */
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  flex-wrap: wrap;          
}

/* LINKS */
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

nav ul li a:hover {
  color: #00c3ff;
}


.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.footer {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 40px 20px 20px;
  position: relative;
  z-index: 5;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section p,
.footer-section a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
}

.footer {
  margin-top: auto;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a:hover {
  color: #00c3ff;
}

.footer-bottom {
  text-align: center;
  margin-top: 25px;
  font-size: 13px;
  color: #aaa;
}

@media (max-width: 768px) {
   header {
    padding: 8px 20px;
    flex-direction: column;
    align-items: center;
  }

  nav {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
  }

  nav ul li a {
    font-size: 16px;
    padding: 6px 0;
  }

  .logo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.hero-text h1 {
  font-size: 60px;
  letter-spacing: 2px;
}

.hero-text p {
  font-size: 20px;
  margin-top: 10px;
  color: #ddd;
}
@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 16px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
